main{
    border-collapse: collapse;
    margin: 0%;
    width: 100%;
    background-color: #fcfcfc;
    padding-bottom: 100px;
}

p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27.2px;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px;
}

h1{
    font-size: 39px;
    line-height: 39px;
    vertical-align: baseline;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(18, 64, 60);
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
}

h2{
    font-size: 28px;
    line-height: 28px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(20, 86, 20);
}

h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px;
    color: rgb(20, 86, 20);
}

.link_mentionslegales{
    color:rgb(0, 0, 0);    
}

.link_mentionslegales:link{
    outline: none;
    text-decoration: none solid;
    color:rgb(0, 0, 0);
    font-weight: 600;
}

.link_mentionslegales:hover{
 color: rgb(90, 141, 90);
}

.link_mentionslegales:visited{
    color: rgb(41, 108, 41)
}

.link_mentionslegales:active{
    color: rgb(41, 108, 41)
}

@media screen and (min-width:60px) and (max-width:575px){
    h1{
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 20px;
        letter-spacing: normal;
        width: fit-content;
        color: rgb(14, 60, 32);
        backdrop-filter: blur(10px);
        padding: 10px;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-left: 3%;
        margin-right: 3%;
    }
    h2{
    font-size: 18px;
    margin-left: 3%;
    margin-right: 3%;
    }
    p{
    font-size: 14px;
    margin-left: 3%;
    margin-right: 3%;
    }
}