
main{
    border-collapse: collapse;
    margin: 0%;
    padding-bottom: 100px;
    padding-left: 8%;
    padding-right: 20%;
    counter-reset: main;
}

body{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(244, 248, 249);
    padding-top: 100px;
}

h1{
    font-size: 39px;
    line-height: 39px;
    vertical-align: baseline;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(18, 64, 60);
    padding-bottom: 100px;
    padding-top: 100px;
}

.p_italic{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23.8px;
    font-style: italic;
}

p, li{
    font-size: 14px;
    line-height: 22.4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

li{
    padding-bottom: 0%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 900;
    padding-bottom: 10px;
}

h2::before{
    counter-increment: main;
    content: counter(main) ". ";
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 700;
    padding-bottom: 10px;
}
h3::before{
    counter-reset: mainh3;
    counter-increment: main;
    counter-increment: mainh3;
    content: counter(main) "." counter(mainh3) " ";
}

.summary_cookies{
    background-color: rgb(226, 232, 250);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25.2px;
    font-weight: 900;
    list-style: "";
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.summary_cookies:hover{
    background-color: rgb(226, 232, 250, 0.5);
}

.details_cookies{
    background-color: rgb(226, 232, 250, 0.5);
    margin-bottom: 7px;
}

.p_coordonnees{
    margin-left: 20px;
}

.link_article{
    outline: none;
    text-decoration: none solid;
    text-decoration: underline;
    color:rgb(157,74,25);
}

.link_article:hover{
    color:rgb(157,74,25, 0.5);
}
.link_article:active{
    color:rgb(132, 58, 15);
}
.link_article:visited{
    color:rgb(157,74,25, 0.8);
}

@media screen and (min-width:60px) and (max-width:575px){
    main{
        padding: 0%;
    }
    h1{
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 30px;
        letter-spacing: normal;
        color: rgb(14, 60, 32);
        padding: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 3%;
        margin-right: 3%;
    }
    h2{
    font-size: 18px;
    margin-left: 3%;
    margin-right: 3%;
    }
    p{
    font-size: 14px;
    margin-left: 3%;
    margin-right: 3%;
    }

    .summary_cookies{
        font-size: 15px;
    }
}